body {
	background: white;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

div.page-header {
	margin-bottom: 0px;
	color: black;
	margin-top: 25px;
	margin-left: 13%;
	margin-right: 13%;
	background: linear-gradient(90deg, #f8fafc 0%, #e3e6ed 100%);
	border-radius: 1rem;
	box-shadow: 0 2px 12px rgba(0,0,0,0.07);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.header-text-center {
	text-align: center;
}

.header-film-icon {
	color: #007bff;
}

.header-translate-icon {
	color: #6c757d;
}

h1.display-4.font-weight-bold {
	font-size: 2.8rem;
	letter-spacing: 2px;
	color: #2c3e50;
	text-shadow: 1px 2px 8px #e3e6ed;
}

.header-lead {
	color: #495057;
	font-style: italic;
	letter-spacing: 1px;
}


div.page-header p {
	font-size:18px;
}

ul.nav {
	margin-bottom: 3%;
}

a.nav-link {
	color: #9c5b84;
}

li.nav-item:hover {
	background-color: #bbb2bb
}

.navbar-banner {
	background: #f5e6f0;
	color: #9c5b84;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 500;
	margin-right: 12px;
	box-shadow: 0 1px 2px rgba(156,91,132,0.05);
	letter-spacing: 0.5px;
	display: inline-block;
	vertical-align: middle;
}

ul.nav a:hover {
	color: #9c5b84 !important; 
}

.nav-tabs .nav-link.active {
	background-color: #f5e6f0;
	color: #9c5b84 !important;
}

div.loader {
	margin-bottom: 25px;
}

div.spinner-border {
	width: 4rem;
	height: 4rem;
}

div#left-margin {
	background-color: #f8f9fa;
}

div#right-margin {
	background-color: #f8f9fa;
}

div#content {
    overflow-y: auto;
    height: 100vh;
}

table.infobox {
	table-layout: fixed;
	float: right;
	border: 1px solid #a2a9b1;
	border-spacing: 3px;
	background-color: #eaeaeb;
	color: black;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	clear: right;
	font-size: 88%;
	line-height: 1.5em;
	width: 22em
}

td.infobox-image {
	text-align: center;
}

img.infobox-image-ref {
	width: 100%;
	height: auto;
}

th.infobox-header {
	vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

td.infobox-data {
    padding-right: 0.4em;
}
.section-title {
	margin-top: 1em;
	border-bottom: 1px solid #a2a9b1;
}

div#cast > ul {
	padding-right: 25%;
}

.content-title-main {
	font-style: italic;
}

.content-title-sub {
	border-bottom: 1px solid #a2a9b1;
}

button#generate_button {
	color: #ffbffa;
	background-color: #887093;
	border-color: #764595;
	margin-right: 0.1em;
}

#description_divider {
	height: 1px;
    background: #5c5c5c;
    border: none;
    margin-bottom: 5px;
}

