div.page-header {
	margin-bottom: 0px;
	color: black;
	margin-top: 25px;
	margin-left: 13%;
	margin-right: 13%;
}

div.page-header p {
	font-size:18px;
}

ul.nav {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 25px;
}

a.nav-link {
	color: #9c5b84;
}

li.nav-item:hover {
	background-color: #bbb2bb
}

ul.nav a:hover {
	color: #9c5b84 !important; 
}

.card {
	background-color:white;
	margin-left: 10%;
	margin-right: 10%;
}

#loader {
	margin-bottom: 25px;
}

div.spinner-border {
	width: 4rem;
	height: 4rem;
}

#left-margin {
	background-color: #f8f9fa;
	width: 20%;
}

#right-margin {
	background-color: #f8f9fa;
	width: 20%;
}

#content {
	border-radius: 10px;
	width: 60%;
}

.container {
	width: auto;
}

#description-container {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table#infobox {
	float: right;
	border: 1px solid #a2a9b1;
	border-spacing: 3px;
	background-color: #f8f9fa;
	color: black;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	clear: right;
	font-size: 88%;
	line-height: 1.5em;
	width: 22em
}

td#infobox_image {
	text-align: center;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

.section-title {
	margin-top: 1em;
	border-bottom: 1px solid #a2a9b1;
}

#movie_title {
	font-style: italic;
}

#original_title {
	border-bottom: 1px solid #a2a9b1;
}

body {
	background: white;
}

#generate_button {
	color: #acd4ff;
	background-color: #233b58;
	border-color: #233b58;
	margin-top: 20px;
}

#description_divider {
	height: 1px;
    background: #5c5c5c;
    border: none;
    margin-bottom: 5px;
}

